$c1: #000000;
$c2: #8A9EA8;
$c3: #FFFFFF;
$c4: #C4CFD4;
$c5: #0000000A;
$c6: #F2F6F8;
$c7: #E5E2DD;
$c8: #E8E8E8;
$c9: #13100D;

$point1: 320px;
$point2: 480px;
$point3: 600px;
$point4: 768px;
$point5: 900px;
$point6: 1024px;
$point7: 1200px;

@mixin square($w) {
  width: $w;
  height: $w
}

@mixin rectangle($w, $h) {
  width: $w;
  height: $h
}

@mixin circle($w, $h, $radius) {
  @include rectangle($w, $h);
  border-radius: $radius
}

@mixin scroll($color:$gray) {
  &::-webkit-scrollbar-track {
  }
  &::-webkit-scrollbar {
    width: 8px;
    height: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color
  }
  &::-webkit-scrollbar-track-piece {
  }
}

@mixin block() {
  border: 1px solid $c3;
  box-shadow: inset 0 0 20px 0 $c3;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

@mixin topMargin($v) {
  margin-top: $v;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}
